/* Margins & Paddings */
@for $i from 0 through 100 {
  .c-ma-#{$i} {
    margin: #{$i}px !important;
  }

  .c-mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  .c-mr-#{$i} {
    margin-right: #{$i}px !important;
  }

  .c-mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .c-ml-#{$i} {
    margin-left: #{$i}px !important;
  }

  .c-my-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }

  .c-mx-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }

  .c-pa-#{$i} {
    padding: #{$i}px !important;
  }

  .c-py-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }

  .c-px-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }

  .c-pt-#{$i} {
    padding-top: #{$i}px !important;
  }

  .c-pr-#{$i} {
    padding-right: #{$i}px !important;
  }

  .c-pb-#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .c-pl-#{$i} {
    padding-left: #{$i}px !important;
  }
}

@for $i from 0 through 100 {
  .c-w-#{$i} {
    width: percentage($i) / 100 !important;
  }
}

@for $i from 0 through 9 {
  .c-font-w-#{$i} {
    font-weight: $i * 100 !important;
  }
}

@for $i from 0 through 100 {
  .c-w-px-#{$i} {
    width: #{$i}px !important;
  }
}

@for $i from 0 through 100 {
  .c-h-#{$i} {
    height: percentage($i) / 100;
  }
}

@for $i from 0 through 1000 {
  .c-h-px-#{$i} {
    height: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .c-hv-#{$i} {
    height: #{$i}vh;
  }
}

@for $i from 0 through 100 {
  .z-index-#{$i} {
    z-index: #{$i};
  }
}

@for $i from 0 through 100 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
}

// ---------------- BORDER ELEMENTS --------------------- //
@for $i from 0 through 100 {
  $colors: (primary, secondary);
  $types: (
    solid: solid,
    dashed: dashed,
  );
  @each $name in $colors {
    @each $type, $typeValue in $types {
      .border-#{$type}-#{$name}-#{$i} {
        border: #{$i}px #{$typeValue} var(--#{$name}) !important;
      }
    }
  }
}

// ------------------------- Grid --------------------------------------- //
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    padding-right: 16px;
    padding-left: 16px;
    max-width: percentage(($i/12));
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      padding-right: 16px;
      padding-left: 16px;
      max-width: percentage(($i/12));
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      padding-right: 16px;
      padding-left: 16px;
      max-width: percentage(($i/12));
      width: 100%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      padding-right: 16px;
      padding-left: 16px;
      max-width: percentage(($i/12));
      width: 100%;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      padding-right: 16px;
      padding-left: 16px;
      max-width: percentage(($i/12));
      width: 100%;
    }
  }
}

@media (min-width: 1400px) {
  @for $i from 1 through 12 {
    .col-xxl-#{$i} {
      padding-right: 16px;
      padding-left: 16px;
      max-width: percentage(($i/12));
      width: 100%;
    }
  }
}

// ---------------------------- DEFAULT CLASSES --------------------------- //
.c-m-auto {
  margin: auto !important;
}

.c-mr-auto {
  margin-right: auto !important;
}

.c-ml-auto {
  margin-left: auto !important;
}

.rtl {
  direction: rtl !important;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.align-start {
  align-items: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.text-white {
  color: #fff;
}
